
// Project: PROJECT NAME
// File Purpose: Primary stylesheet (SCSS).
// Created by Norex
// Date: CURRENT DATE
// Prepared by Justin Bellefontaine @ Norex

// All textual content contained herein is copyright and property of 
// Norex.ca. Unauthorized use or duplication will not be tolerated.

// TABLE OF CONTENTS

// S:01 Generic Site Styles
// S:02 Header
// S:03 Navigation
// S:04 Content
// S:05 Footer
// S:06 Typography
// S:07 Forms
// S:08 Helper Classes
// S:09 IE Tweaks
// S:10 Responsive Breakpoints


// =================================================================


@import "settings";


// ==|== S:01 Generic Site Styles ==================================


body > ins {
	display: none!important;
}

// Custom selection color 

::-moz-selection {
	background: #efefef;
	text-shadow: none;
}
::selection {
	background: #efefef;
	text-shadow: none;
}

// Force text antialiasing in Webkit browsers

html {
	-webkit-font-smoothing: antialiased;
}

// Set base body font size

body {
	font-size: 16px;
	// Example of the "image-url" path --> background: transparent image-url('body-bg.jpg') repeat;
}

// Sitewide styles

* {
	@include box-sizing(border-box);
	@include font-roboto;
}

.container {
	width: $pagewidth;
	margin: 0 auto;
}


// ==|== S:02 Header ===============================================





// ==|== S:03 Navigation ===========================================





// ==|== S:04 Content ==============================================





// ==|== S:05 Footer ===============================================





// ==|== S:06 Typography ===========================================


img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-roboto;
}

h1 {
	font-weight: 300;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p,
ul li,
ol li {
	
}

ul {
	@include reset;
}

a {
	text-decoration: none;
		&:hover {

		}
}

// Tables 

table {
	border: 1px solid $lightgray;
}

table thead td,
table th {
	background: lighten($lightgray,10%);
	padding: 10px;
	text-align: left;
	color: $darkgray;
}

table tr:nth-child(even) {
	background: lighten($lightgray,10%);
}

table td {
	padding: 10px;
	color: $darkgray;
	font-size: 0.8em;
}

.icheckbox_square-grey,
.iradio_square-grey {
	float: left;
}

.gallery .item h1 {
	color: #fff;
	font-weight: 300;
}

// Buttons

.btn,
input[type="submit"],
input[type="button"],
button {
	// @include transition(all,.2s,.1s);
	background: $lightgray;
	color: $darkgray;
	padding: 10px 15px;
	font-size: 1rem;
	position: relative;
	display: block;
	border: none;
	@include font-robotocondensed;
	&.big {
		padding: 15px 20px;
		font-size: 1.250em;
	}
	&.bigger {
		padding: 20px 25px;
		font-size: 1.5em;
	}
	&:hover {
		// @include transition(all,.2s,0s);
		background: $darkgray;
		color: #fff;
	}
}

// Arrows
// Note: If a wider arrow is required, increase the opposing border width values to twice that of the target border
// Example: If you wanted a wider arrow pointing up your border width would be "10px 20px"

.add-arrow:after {
	position: absolute;
	content: " ";
	width: 0;
	height: 0;
		border: {
			style: solid;
			color: transparent;
			width: 10px;
		}
}

.add-arrow.arrow-up:after {
	border: {
		bottom: {
			color: $lightgray;
		}
	}
	bottom: 100%;
	left: 50%;
	margin-left: -10px; // Must match the size of the arrow to center properly
}

.add-arrow.arrow-right:after {
	border: {
		left: {
			color: $lightgray;
		}
	}
	left: 100%;
	top: 50%;
	margin-top: -10px;
}

.add-arrow.arrow-down:after {
	border: {
		top: {
			color: $lightgray;
		}
	}
	top: 100%;
	left: 50%;
	margin-left: -10px;
}

.add-arrow.arrow-left:after {
	border: {
		right: {
			color: $lightgray;
		}
	}
	right: 100%;
	top: 50%;
	margin-top: -10px;
}

.btn.arrow-up:hover:after {
	border-bottom-color: $darkgray;
}

.btn.arrow-right:hover:after {
	border-left-color: $darkgray;
}

.btn.arrow-down:hover:after {
	border-top-color: $darkgray;
}

.btn.arrow-left:hover:after {
	border-right-color: $darkgray;
}

// Pagination

.pagination {
	@include reset;
	text-align: center;
	li {
		@include inblock(middle);
		a {
			font-weight: 700;
			font-size: 1rem;
			padding: 0 5px;
			color: $darkgray;
			&:hover {
				color: $lightgray;
			}
			&.active {
				font-weight: 700;
				font-size: 1.250em;
				color: #000;
				cursor: default;
				pointer-events: none;
			}
		}
	}
}

// Tabs

.tabs {
	@include reset;
	width: 100%;
	float: left;
	border-bottom: 1px solid $lightgray;
	li {
		float: left;
		margin: 0 3px -1px 3px;
		a {
			display: block;
			background: lighten($lightgray,8%);
			color: $darkgray;
			font-weight: 700;
			padding: 10px 15px;
			border: 1px solid $lightgray;
			@include transition(all,.2s,0s);
			border-radius: 2px 2px 0 0;
			&:hover {
				background: lighten($lightgray,4%);
			}
			&.active {
				background: #fff;
				border-bottom-color: #fff;
				@include transition(all,.2s,0s);
			}
		}
	}
}

// Placeholder styling (IE, Firefox, and Chrome only)

::-webkit-input-placeholder {
	color: #ccc;
}

:-moz-placeholder {
	color: #ccc;
}

:-ms-input-placeholder {
	color: #ccc;
}


// ==|== S:07 Forms ================================================


input[type="text"],
input[type="email"],
textarea {
	border: 1px solid $lightgray;
	background: #fff;
	padding: 10px;
	@include font-robotocondensed;
	color: $darkgray;
	width: 100%;
	box-shadow: 3px 3px 10px 0 #f1f1f1 inset;
	border-radius: 2px;
	outline: none;
	&:focus {
		border: 1px solid #00c8d7;
		box-shadow: 3px 3px 10px 0 #f1f1f1 inset, 0 0 4px 0 transparentize(#00c8d7,0.4);
	}
}

textarea {
	min-height: 250px;
}

// File Upload Styles (only works in Webkit browsers)

input[type="file"] {
	position: relative;
	cursor: pointer;
	font-size: 0.750em;
	width: 100%;
	&:hover:after {
		background: $darkgray;
		color: #fff;
	}
}

input[type="file"]::-webkit-file-upload-button {
	width: 0;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	border: none;
}

input[type="file"]:after {
	content: "Upload File";
	cursor: pointer;
	@include inblock(middle);
	position: relative;
	background: $lightgray;
	-webkit-appearance: none;
}

// Gravity Forms

.gform_wrapper {
	clear: left;
	li {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		position: relative;
		ul {
			width: 100%;
			float: left;
			margin: 5px 0 0;
			li {
				float: left;
				width: auto;
				margin-right: 15px;
				div {
					float: left;
				}
				label {
					font-weight: 700;
					float: left;
					font-size: 0.9em;
					padding-left: 5px;
					line-height: 1.5;
				}
			}
		}
	}
}

// Validation Overrides (Gravity Forms)

.gforms_confirmation_message {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 0.8em;
	color: $darkgray;
}

.gfield_error {
	background: transparent!important;
	padding: 0!important;
	border: none!important;
	margin: 0!important;
}

// Tooltips/Validation Messages

.tooltip {
	position: absolute;
	left: 0;
	width: auto;
	padding: 5px 10px;
	bottom: 100%;
	color: #fff;
	background: $darkgray;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 700;
	margin: 0;
	&.success {
		background: $norexgreen;
	}
	&.error {
		right: 0;
		left: auto;
		background: $norexpink;
			&:after {
				border-color: $norexpink transparent transparent transparent!important;
				right: 5px;
				left: auto;
			}
	}
	&.success:after {
		border-color: $norexgreen transparent transparent transparent;
	}
}

.tooltip:after {
	content: " ";
		border: {
			style: solid;
			color: transparent;
			width: 10px;
		}
	border-color: $darkgray transparent transparent transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	left: 5px;
}

// Custom Select Boxes

.s-hidden {
	visibility: hidden;
	padding-right: 10px;
}

.select {
	cursor: pointer;
	@include inblock(middle);
	position: relative;
	@include font-robotocondensed;
	color: $darkgray;
	font-size: 1em;
	border: 1px solid $lightgray;
	padding: 15px;
}

.styled-select {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 0 10px;
	font-weight: bold;
	line-height: 53px; // Must change based on how large the parent selectbox is
	box-shadow: 3px 3px 10px 0 #f1f1f1 inset;
	margin: 1px;
}

.styled-select:after {
	content: " ";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: $darkgray transparent transparent transparent;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 10px;
}

.styled-select:active,
.styled-select.active {
	border: 1px solid #00c8d7;
	margin: 0;
	box-shadow: 3px 3px 10px 0 #f1f1f1 inset, 0 0 4px 0 transparentize(#00c8d7,0.4);
}

.options {
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	border: 1px solid $lightgray;
	background: #fff;
	li {
		padding: 5px;
		margin: 0 0;
		padding: 5px 10px;
		width: 100%!important;
		&:hover {
			background: $darkgray;
			color: #fff;
		}
	}
}

// Maps

#map_canvas {
	// Add dimensions if necessary
	img {
		max-width: none!important;
	}
	div {
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
	}
}


// ==|== S:08 Helper Classes =======================================


.hide {
	display: none;
}

.show {
	display: block;
}

.full {
	width: 100%;
}

.half {
	width: 50%;
}

.third {
	width: 33.3%;
}

.quarter {
	width: 25%;
}

.callout {
	font-size: 4em;
	line-height: 1em;
	font-weight: 700;
	em {
		font-style: normal;
		color: #eb1e5b;
		@include font-robotocondensed;
	}
}

.last {
	margin-right: 0;
}

// FitVids Clearing

.video-wrapper {
	clear: left;
}


// ==|== S:09 IE Tweaks ============================================





// ==|== S:10 Responsive Breakpoints ===============================


// Desktop 

@include media(desktop) {
	
}

// Netbook 

@include media(netbook) {

	.container {
		width: 100%;
		padding: 0 20px;
	}

}

// iPad 

@include media(ipad) {

	

}

// Tablet (funnels down to phone)

@include media(tablet) {

	.container {
		width: 100%;
		padding: 0 20px;
	}

	// Select Boxes

	.select {
		width: 100%;
	}

}

// Phone Landscape

@include media(phone-landscape) {

	

}

// Phone Portrait

@include media(phone-portrait) {
	
}

// Retina 

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {



}